{% extends '1col.html.twig' %}

{% block title parent() ~ 'Login' %}

{% block maincontent %}
    <div class="card text-white bg-dark">
        <form action="{{ path('login') }}" method="post" novalidate>
            <div class="card-header login">
                <div class="row justify-content-md-left">
                    <div class="col-auto header-box">
                        Login
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="login">
                    <div class="row username">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 nopadding">
                                    <div class="username-box {{ (error) ? 'has-error' : ''}}">
                                        <div class="col-12 username-description nopadding">Benutzername</div>
                                        <div class="col-12 username-value nopadding">
                                            <input type="text" id="username" name="_username" required="required" class="inputbox" value="{{ last_username }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row break"></div>
                    <div class="row password">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 nopadding">
                                    <div class="password-box {{ (error) ? 'has-error' : ''}}">
                                        <div class="col-12 password-description nopadding">Passwort</div>
                                        <div class="col-12 password-value nopadding">
                                            <input type="password" id="password" name="_password" required="required" class="password-field inputbox">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row break"></div>
                    {% if error %}
                        <div class="row alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6 nopadding">
                        <a href="{{ path('forgotpw') }}" class="text-secondary">Passwort vergessen</a>
                    </div>
                    <div class="col-6 nopadding">
                        <button type="submit" class="btn btn-secondary float-right">Login</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
{% endblock %}