{% extends '1col.html.twig' %}

{% block title parent() ~ 'Registrierung' %}

{% block maincontent %}
    <div class="card text-white bg-dark">
        <div class="card-header">
            Registrierung
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <label for="user_username" class="col-sm-4 col-form-label">Benutzername</label>
                <div class="col-sm-8">
                    {{ form_widget(form.username, (form.children.username.vars.valid ? {'attr': {'class': 'form-control' }}:{'attr': {'class': 'form-control is-invalid' }})) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="user_email" class="col-sm-4 col-form-label">E-Mail</label>
                <div class="col-sm-8">
                    {{ form_widget(form.email, (form.children.email.vars.valid ? {'attr': {'class': 'form-control' }}:{'attr': {'class': 'form-control is-invalid' }})) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="user_password_first" class="col-sm-4 col-form-label">Passwort</label>
                <div class="col-sm-8">
                    {{ form_widget(form.password.first, (form.children.password.first.vars.valid ? {'attr': {'class': 'form-control' }}:{'attr': {'class': 'form-control is-invalid' }})) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.password.first) }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="user_password_second" class="col-sm-4 col-form-label">Passwort wiederholen</label>
                <div class="col-sm-8">
                    {{ form_widget(form.password.second, (form.children.password.second.vars.valid ? {'attr': {'class': 'form-control' }}:{'attr': {'class': 'form-control is-invalid' }})) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.password.second) }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="user_dateofbirth" class="col-sm-4 col-form-label">Geburtsdatum</label>
                <div class="col-sm-8">
                    {{ form_widget(form.dateofbirth, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
            <div class="form-group row">
                <label for="user_picture" class="col-sm-4 col-form-label">Bild</label>
                <div class="col-sm-8">
                    {{ form_widget(form.picture, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
            {{ form_widget(form.submit, {'attr': {'class':'btn btn-secondary' }, 'label': 'Registrieren' }) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}