{% extends '1col.html.twig' %}

{% block title parent() ~ 'Registrierung' %}

{% block maincontent %}
    <div class="card text-white bg-dark">
        {{ form_start(form) }}
        <div class="card-header register">
            <div class="row justify-content-md-left">
                <div class="col-auto header-box">
                    Registrierung
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="register">
                <div class="row username">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 nopadding">
                                <div class="username-box {{ (form.children.username.vars.valid) ? '' : 'has-error'}}">
                                    <div class="col-12 username-description nopadding">Benutzername</div>
                                    <div class="col-12 username-value nopadding">
                                        {{ form_widget(form.username, {'attr': {'class': 'inputbox' }}) }}
                                    </div>
                                    <div class="col-12 username-error nopadding">
                                        {% for error in form.children.username.vars.errors.form.errors %}
                                            {{ error.message }}<br/>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row break"></div>
                <div class="row email">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 nopadding">
                                <div class="email-box {{ (form.children.email.vars.valid) ? '' : 'has-error'}}">
                                    <div class="col-12 email-description nopadding">E-Mail</div>
                                    <div class="col-12 email-value nopadding">
                                        {{ form_widget(form.email, {'attr': {'class': 'inputbox' }}) }}
                                    </div>
                                    <div class="col-12 email-error nopadding">
                                        {% for error in form.children.email.vars.errors.form.errors %}
                                            {{ error.message }}<br/>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row break"></div>
                <div class="row password">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-6 nopadding">
                                <div class="password-box {{ (form.children.password.first.vars.valid) ? '' : 'has-error'}}">
                                    <div class="col-12 password-description nopadding">Passwort</div>
                                    <div class="col-12 password-value nopadding">
                                        {{ form_widget(form.password.first, {'attr': {'class': 'inputbox' }}) }}
                                    </div>
                                    <div class="col-12 password-error nopadding">
                                        {% for error in form.children.password.first.vars.errors.form.errors %}
                                            {{ error.message }}<br/>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 nopadding">
                                <div class="password-box {{ (form.children.password.second.vars.valid) ? '' : 'has-error'}}">
                                    <div class="col-12 password-description nopadding">Passwort</div>
                                    <div class="col-12 password-value nopadding">
                                        {{ form_widget(form.password.second, {'attr': {'class': 'inputbox' }}) }}
                                    </div>
                                    <div class="col-12 password-error nopadding">
                                        {% for error in form.children.password.second.vars.errors.form.errors %}
                                            {{ error.message }}<br/>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row break"></div>
                <div class="row birthandpic">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-md-6 nopadding">
                                <div class="birthday-box">
                                    <div class="col-12 birthday-description nopadding">Geburtsdatum</div>
                                    <div class="col-12 birthday-value nopadding">
                                        {{ form_widget(form.dateofbirth, {'attr': {'class': 'inputbox' }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 nopadding">
                                <div class="picture-box">
                                    <div class="col-12 picture-description nopadding">Bild</div>
                                    <div class="col-12 picture-value nopadding">
                                        {{ form_widget(form.picture, {'attr': {'class': 'inputbox' }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row break"></div>
            {{ form_errors(form) }}
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    {{ form_widget(form.submit, {'attr': {'class':'btn btn-secondary float-right' },'label': 'registrieren' }) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}