{% extends '1col.html.twig' %}

{% block title parent() ~ 'Kontakt' %}

{% block maincontent %}
    <div class="card text-white bg-dark">
        <div class="card-header">
            Kontakt
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group row">
                <label for="contact_sender" class="col-sm-4 col-form-label">Absender</label>
                <div class="col-sm-8">
                    {{ form_widget(form.sender, (form.children.sender.vars.valid ? {'attr': {'class': 'form-control' }}:{'attr': {'class': 'form-control is-invalid' }})) }}
                    <div class="invalid-feedback">
                        {% for error in form.children.sender.vars.errors.form.errors %}
                            {{ error.message }}<br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="contact_subject" class="col-sm-4 col-form-label">Betreff</label>
                <div class="col-sm-8">
                    {{ form_widget(form.subject, (form.children.subject.vars.valid ? {'attr': {'class': 'form-control' }}:{'attr': {'class': 'form-control is-invalid' }})) }}
                    <div class="invalid-feedback">
                        {% for error in form.children.subject.vars.errors.form.errors %}
                            {{ error.message }}<br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="contact_message" class="col-sm-4 col-form-label">Nachricht</label>
                <div class="col-sm-8">
                    {{ form_widget(form.message, (form.children.message.vars.valid ? {'attr': {'class': 'form-control' }}:{'attr': {'class': 'form-control is-invalid' }})) }}
                    <div class="invalid-feedback">
                        {% for error in form.children.message.vars.errors.form.errors %}
                            {{ error.message }}<br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
