{% extends '1col.html.twig' %}

{% block title parent() ~ character.charname %}

{% block maincontent %}

    <div class="card maincontent text-white bg-dark">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="card-header  charsheet">
            <div class="row">
                <div class="col-12 col-md-2 order-md-2 p-0">
                    <div class="row">
                        <div class="col-4 text-center p-0">
                            <a href="/characters">
                                <i class="material-icons bg-dark p-0">view_list</i>
                            </a>
                        </div>
                        <div class="col-4 text-center p-0">
                            <a href="/characters/show/{{ character.id }}">
                                <i class="material-icons bg-dark p-0">remove_red_eye</i>
                            </a>
                        </div>
                        <div class="col-4 text-center p-0">
                            <a href="" data-toggle="modal" data-target="#deleteChar{{character.id}}">
                                <i class="material-icons bg-dark p-0">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-10 order-md-1">
                    <ul class="nav nav-tabs row justify-content-md-left" id="myTab" role="tablist">
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link active" id="personaldata-tab" data-toggle="tab" href="#personaldata" role="tab" aria-controls="personaldata" aria-selected="true">Persönliche Daten</a>
                        </li>
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link" id="playvalues-tab" data-toggle="tab" href="#playvalues" role="tab" aria-controls="playvalues" aria-selected="false">Spielwerte</a>
                        </li>
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link" id="battle-tab" data-toggle="tab" href="#battle" role="tab" aria-controls="battle" aria-selected="false">Kampf</a>
                        </li>
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link" id="ownership-tab" data-toggle="tab" href="#ownership" role="tab" aria-controls="ownership" aria-selected="false">Besitz</a>
                        </li>
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link" id="spells-tab" data-toggle="tab" href="#spells" role="tab" aria-controls="spells" aria-selected="false">Zauber</a>
                        </li>
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link" id="liturgies-tab" data-toggle="tab" href="#liturgies" role="tab" aria-controls="liturgies" aria-selected="false">Liturgien</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <!-- Seite Persönliche Daten -->
                <div class="tab-pane fade show active" id="personaldata" role="tabpanel" aria-labelledby="personaldata-tab">
                    <div class="charactersheet">
                        <div class="row name">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="name-box {% if not form.charname.vars.valid %}has-error{% endif %}">
                                            <div class="col-12 name-description p-0">Name</div>
                                            <div class="col-12 name-value p-0">
                                                {{ form_widget(form.charname, {'attr': {'class':'inputbox' },'value':character.charname}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row break"></div>
                        <div class="row experience">
                                    <div class="col-6 col-md-3">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="experience-box {% if not form.experiencelevel.vars.valid %}has-error{% endif %}">
                                                    <div class="col-12 experience-description p-0">Erfahrungsgrad</div>
                                                    <div class="col-12 experience-value p-0">
                                                        {{ form_widget(form.experiencelevel, {'attr': {'class':'inputbox text-center' }, 'value':character.experiencelevel~'' }) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="experience-box {% if not form.aptotal.vars.valid %}has-error{% endif %}">
                                                    <div class="col-12 experience-description p-0">AP Gesamt</div>
                                                    <div class="col-12 experience-value p-0">
                                                        {{ form_widget(form.aptotal, {'attr': {'class':'inputbox text-center' },'value':character.aptotal}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="experience-box {% if not form.apavailable.vars.valid %}has-error{% endif %}">
                                                    <div class="col-12 experience-description p-0">AP verfügbar</div>
                                                    <div class="col-12 experience-value p-0">
                                                        {{ form_widget(form.apavailable, {'attr': {'class':'inputbox text-center' },'value':character.apavailable}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="experience-box {% if not form.apspent.vars.valid %}has-error{% endif %}">
                                                    <div class="col-12 experience-description p-0">AP ausgegeben</div>
                                                    <div class="col-12 experience-value p-0">
                                                        {{ form_widget(form.apspent, {'attr': {'class':'inputbox text-center' },'value':character.apspent}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <div class="row break"></div>
                        <div class="row origin">
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="origin-box">
                                            <div class="col-12 origin-description p-0">Spezies</div>
                                            <div class="col-12 origin-value p-0">
                                                {{ form_widget(form.species, {'attr': {'class':'inputbox' }, 'value':character.species.id~'' }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="origin-box">
                                            <div class="col-12 origin-description p-0">Kultur</div>
                                            <div class="col-12 origin-value p-0">
                                                {{ form_widget(form.culture, {'attr': {'class':'inputbox' }, 'value':character.culture.id~'' }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="origin-box">
                                            <div class="col-12 origin-description p-0">Kultur</div>
                                            <div class="col-12 origin-value p-0">
                                                {{ form_widget(form.profession, {'attr': {'class':'inputbox' }, 'value':character.profession.id~'' }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row attributes">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 p-0">
                                        <div class="attribute-box {% if not form.attributeMu.vars.valid %}has-error{% endif %}">
                                            <div class="col-12 attribute-description p-0">MU</div>
                                            <div class="col-12 attribute-value p-0">
                                                {{ form_widget(form.attributeMu, {'attr': {'class':'inputbox text-center' },'value':character.attributeMu}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box {% if not form.attributeKl.vars.valid %}has-error{% endif %}">
                                            <div class="col-12 attribute-description p-0">KL</div>
                                            <div class="col-12 attribute-value p-0">
                                                {{ form_widget(form.attributeKl, {'attr': {'class':'inputbox text-center' },'value':character.attributeKl}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box {% if not form.attributeIn.vars.valid %}has-error{% endif %}">
                                            <div class="col-12 attribute-description p-0">IN</div>
                                            <div class="col-12 attribute-value p-0">
                                                {{ form_widget(form.attributeIn, {'attr': {'class':'inputbox text-center' },'value':character.attributeIn}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box {% if not form.attributeCh.vars.valid %}has-error{% endif %}">
                                            <div class="col-12 attribute-description p-0">CH</div>
                                            <div class="col-12 attribute-value p-0">
                                                {{ form_widget(form.attributeCh, {'attr': {'class':'inputbox text-center' },'value':character.attributeCh}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 p-0">
                                        <div class="attribute-box {% if not form.attributeFf.vars.valid %}has-error{% endif %}">
                                            <div class="col-12 attribute-description p-0">FF</div>
                                            <div class="col-12 attribute-value p-0">
                                                {{ form_widget(form.attributeFf, {'attr': {'class':'inputbox text-center' },'value':character.attributeFf}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box {% if not form.attributeGe.vars.valid %}has-error{% endif %}">
                                            <div class="col-12 attribute-description p-0">GE</div>
                                            <div class="col-12 attribute-value p-0">
                                                {{ form_widget(form.attributeGe, {'attr': {'class':'inputbox text-center' },'value':character.attributeGe}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box {% if not form.attributeKo.vars.valid %}has-error{% endif %}">
                                            <div class="col-12 attribute-description p-0">KO</div>
                                            <div class="col-12 attribute-value p-0">
                                                {{ form_widget(form.attributeKo, {'attr': {'class':'inputbox text-center' },'value':character.attributeKo}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box {% if not form.attributeKk.vars.valid %}has-error{% endif %}">
                                            <div class="col-12 attribute-description p-0">KK</div>
                                            <div class="col-12 attribute-value p-0">
                                                {{ form_widget(form.attributeKk, {'attr': {'class':'inputbox text-center' },'value':character.attributeKk}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row break"></div>
                        <div class="row story">
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Geschlecht</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.gender, {'attr': {'class':'inputbox text-center' }, 'value':character.gender~'' }) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Geburtsort</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.birthplace, {'attr': {'class':'inputbox' },'value':character.birthplace}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Geburtsdatum</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.birthdate, {'attr': {'class':'inputbox' },'value':character.birthdate}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Alter</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.age, {'attr': {'class':'inputbox' },'value':character.age}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Größe</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.size, {'attr': {'class':'inputbox' },'value':character.size}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Gewicht</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.weight, {'attr': {'class':'inputbox' },'value':character.weight}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Haarfarbe</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.haircolor, {'attr': {'class':'inputbox' },'value':character.haircolor}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Augenfarbe</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.eyecolor, {'attr': {'class':'inputbox' },'value':character.eyecolor}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Titel</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.title, {'attr': {'class':'inputbox' },'value':character.title}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">SO</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.socialstatus, {'attr': {'class':'inputbox' },'value':character.socialstatus}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Familie</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.family, {'attr': {'class':'inputbox' },'value':character.family}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Charakteristika</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.characteristics, {'attr': {'class':'inputbox' },'value':character.characteristics}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Sonstiges</div>
                                            <div class="col-12 story-value p-0">{{ form_widget(form.further, {'attr': {'class':'inputbox' },'value':character.further}) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row break"></div>
                        <div class="row energy">
                                    <div class="col-12 col-md-4">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="energy-box">
                                                    <div class="col-12 energy-description p-0">Lebensenergie</div>
                                                    <div class="col-12 energy-values p-0">
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.lifeenergy, {'attr': {'class':'inputbox' },'value':character.lifeenergy}) }}</div>
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.lifeenergybonus, {'attr': {'class':'inputbox' },'value':character.lifeenergybonus}) }}</div>
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.lifeenergypurchase, {'attr': {'class':'inputbox' },'value':character.lifeenergypurchase}) }}</div>
                                                        <div class="col-3 energy-value p-0 last">{{ form_widget(form.lifeenergymax, {'attr': {'class':'inputbox' },'value':character.lifeenergymax}) }}</div>
                                                    </div>
                                                    <div class="col-12 energy-value-descriptions p-0">
                                                        <div class="col-3 energy-value-description p-0">Wert</div>
                                                        <div class="col-3 energy-value-description p-0">Bonus</div>
                                                        <div class="col-3 energy-value-description p-0">Zukauf</div>
                                                        <div class="col-3 energy-value-description p-0">Max</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="energy-box">
                                                    <div class="col-12 energy-description p-0">Astralenergie</div>
                                                    <div class="col-12 energy-values p-0">
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.astralenergy, {'attr': {'class':'inputbox' },'value':character.astralenergy}) }}</div>
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.astralenergybonus, {'attr': {'class':'inputbox' },'value':character.astralenergybonus}) }}</div>
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.astralenergypurchase, {'attr': {'class':'inputbox' },'value':character.astralenergypurchase}) }}</div>
                                                        <div class="col-3 energy-value p-0 last">{{ form_widget(form.astralenergymax, {'attr': {'class':'inputbox' },'value':character.astralenergymax}) }}</div>
                                                    </div>
                                                    <div class="col-12 energy-value-descriptions p-0">
                                                        <div class="col-3 energy-value-description p-0">Wert</div>
                                                        <div class="col-3 energy-value-description p-0">Bonus</div>
                                                        <div class="col-3 energy-value-description p-0">Zukauf</div>
                                                        <div class="col-3 energy-value-description p-0">Max</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="energy-box">
                                                    <div class="col-12 energy-description p-0">Karmaenergie</div>
                                                    <div class="col-12 energy-values p-0">
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.karmaenergy, {'attr': {'class':'inputbox' },'value':character.karmaenergy}) }}</div>
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.karmaenergybonus, {'attr': {'class':'inputbox' },'value':character.karmaenergybonus}) }}</div>
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.karmaenergypurchase, {'attr': {'class':'inputbox' },'value':character.karmaenergypurchase}) }}</div>
                                                        <div class="col-3 energy-value p-0 last">{{ form_widget(form.karmaenergymax, {'attr': {'class':'inputbox' },'value':character.karmaenergymax}) }}</div>
                                                    </div>
                                                    <div class="col-12 energy-value-descriptions p-0">
                                                        <div class="col-3 energy-value-description p-0">Wert</div>
                                                        <div class="col-3 energy-value-description p-0">Bonus</div>
                                                        <div class="col-3 energy-value-description p-0">Zukauf</div>
                                                        <div class="col-3 energy-value-description p-0">Max</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-2">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="energy-box">
                                                    <div class="col-12 energy-description p-0">Seelenkraft</div>
                                                    <div class="col-12 energy-values p-0">
                                                        <div class="col-4 energy-value p-0">{{ form_widget(form.soulpower, {'attr': {'class':'inputbox' },'value':character.soulpower}) }}</div>
                                                        <div class="col-4 energy-value p-0">{{ form_widget(form.soulpowerbonus, {'attr': {'class':'inputbox' },'value':character.soulpowerbonus}) }}</div>
                                                        <div class="col-4 energy-value p-0 last">{{ form_widget(form.soulpowermax, {'attr': {'class':'inputbox' },'value':character.soulpowermax}) }}</div>
                                                    </div>
                                                    <div class="col-12 energy-value-descriptions p-0">
                                                        <div class="col-4 energy-value-description p-0">Wert</div>
                                                        <div class="col-4 energy-value-description p-0">Bonus</div>
                                                        <div class="col-4 energy-value-description p-0">Max</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="energy-box">
                                                    <div class="col-12 energy-description p-0">Zähigkeit</div>
                                                    <div class="col-12 energy-values p-0">
                                                        <div class="col-4 energy-value p-0">{{ form_widget(form.toughness, {'attr': {'class':'inputbox' },'value':character.toughness}) }}</div>
                                                        <div class="col-4 energy-value p-0">{{ form_widget(form.toughnessbonus, {'attr': {'class':'inputbox' },'value':character.toughnessbonus}) }}</div>
                                                        <div class="col-4 energy-value p-0 last">{{ form_widget(form.toughnessmax, {'attr': {'class':'inputbox' },'value':character.toughnessmax}) }}</div>
                                                    </div>
                                                    <div class="col-12 energy-value-descriptions p-0">
                                                        <div class="col-4 energy-value-description p-0">Wert</div>
                                                        <div class="col-4 energy-value-description p-0">Bonus</div>
                                                        <div class="col-4 energy-value-description p-0">Max</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="energy-box">
                                                    <div class="col-12 energy-description p-0">Ausweichen</div>
                                                    <div class="col-12 energy-values p-0">
                                                        <div class="col-4 energy-value p-0">{{ form_widget(form.dodge, {'attr': {'class':'inputbox' },'value':character.dodge}) }}</div>
                                                        <div class="col-4 energy-value p-0">{{ form_widget(form.dodgebonus, {'attr': {'class':'inputbox' },'value':character.dodgebonus}) }}</div>
                                                        <div class="col-4 energy-value p-0 last">{{ form_widget(form.dodgemax, {'attr': {'class':'inputbox' },'value':character.dodgemax}) }}</div>
                                                    </div>
                                                    <div class="col-12 energy-value-descriptions p-0">
                                                        <div class="col-4 energy-value-description p-0">Wert</div>
                                                        <div class="col-4 energy-value-description p-0">Bonus</div>
                                                        <div class="col-4 energy-value-description p-0">Max</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="energy-box">
                                                    <div class="col-12 energy-description p-0">Initiative</div>
                                                    <div class="col-12 energy-values p-0">
                                                        <div class="col-4 energy-value p-0">{{ form_widget(form.initiative, {'attr': {'class':'inputbox' },'value':character.initiative}) }}</div>
                                                        <div class="col-4 energy-value p-0">{{ form_widget(form.initiativebonus, {'attr': {'class':'inputbox' },'value':character.initiativebonus}) }}</div>
                                                        <div class="col-4 energy-value p-0 last">{{ form_widget(form.initiativemax, {'attr': {'class':'inputbox' },'value':character.initiativemax}) }}</div>
                                                    </div>
                                                    <div class="col-12 energy-value-descriptions p-0">
                                                        <div class="col-4 energy-value-description p-0">Wert</div>
                                                        <div class="col-4 energy-value-description p-0">Bonus</div>
                                                        <div class="col-4 energy-value-description p-0">Max</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="energy-box">
                                                    <div class="col-12 energy-description p-0">Geschwindigkeit</div>
                                                    <div class="col-12 energy-values p-0">
                                                        <div class="col-4 energy-value p-0">{{ form_widget(form.speed, {'attr': {'class':'inputbox' },'value':character.speed}) }}</div>
                                                        <div class="col-4 energy-value p-0">{{ form_widget(form.speedbonus, {'attr': {'class':'inputbox' },'value':character.speedbonus}) }}</div>
                                                        <div class="col-4 energy-value p-0 last">{{ form_widget(form.speedmax, {'attr': {'class':'inputbox' },'value':character.speedmax}) }}</div>
                                                    </div>
                                                    <div class="col-12 energy-value-descriptions p-0">
                                                        <div class="col-4 energy-value-description p-0">Wert</div>
                                                        <div class="col-4 energy-value-description p-0">Bonus</div>
                                                        <div class="col-4 energy-value-description p-0">Max</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <div class="row">
                                            <div class="col-12 p-0">
                                                <div class="energy-box">
                                                    <div class="col-12 energy-description p-0">Schicksalspunkte</div>
                                                    <div class="col-12 energy-values p-0">
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.fatepoints, {'attr': {'class':'inputbox' },'value':character.fatepoints}) }}</div>
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.fatepointsbonus, {'attr': {'class':'inputbox' },'value':character.fatepointsbonus}) }}</div>
                                                        <div class="col-3 energy-value p-0">{{ form_widget(form.fatepointsmax, {'attr': {'class':'inputbox' },'value':character.fatepointsmax}) }}</div>
                                                        <div class="col-3 energy-value p-0 last">{{ form_widget(form.fatepointscurrent, {'attr': {'class':'inputbox' },'value':character.fatepointscurrent}) }}</div>
                                                    </div>
                                                    <div class="col-12 energy-value-descriptions p-0">
                                                        <div class="col-3 energy-value-description p-0">Wert</div>
                                                        <div class="col-3 energy-value-description p-0">Bonus</div>
                                                        <div class="col-3 energy-value-description p-0">Max</div>
                                                        <div class="col-3 energy-value-description p-0">Aktuell</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                        <div class="row break"></div>
                        <div class="row advantages">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="advantage-box">
                                            <div class="col-12 advantage-description p-0">Vorteile</div>
                                            <div class="col-12 advantage-value p-0">
                                                {{ form_widget(form.advantages, {'attr': {'class':'inputbox form-control form-control-chosen' , 'data-placeholder':'Vorteil auswählen...'}}) }}
                                            </div>
                                            <div id="advantage-value-ids" class="">
                                                <script type="text/javascript">
                                                    {% for advantage in character.advantages %}
                                                        $('select#character_advantages option[value='+'{{ advantage.id }}'+']').prop('selected', 'selected');
                                                    {% endfor %}
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="advantage-box">
                                            <div class="col-12 advantage-description p-0">Nachteile</div>
                                            <div class="col-12 advantage-value p-0">
                                                {{ form_widget(form.disadvantages, {'attr': {'class':'inputbox form-control form-control-chosen' , 'data-placeholder':'Nachteil auswählen...'}}) }}
                                            </div>
                                            <div id="advantage-value-ids" class="">
                                                <script type="text/javascript">
                                                    {% for disadvantage in character.disadvantages %}
                                                    $('select#character_disadvantages option[value='+'{{ disadvantage.id }}'+']').prop('selected', 'selected');
                                                    {% endfor %}
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row break"></div>
                        <div class="row generalspecialskills">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="generalspecialskill-box">
                                            <div class="col-12 generalspecialskill-description p-0">Allgemeine Sonderfertigkeiten</div>
                                            <div class="col-12 generalspecialskill-value p-0">
                                                {{ form_widget(form.generalspecialskills, {'attr': {'class':'inputbox form-control form-control-chosen' , 'data-placeholder':'Allgemeine Sonderfertigkeit auswählen...'}}) }}
                                            </div>
                                            <div id="generalspecialskill-value-ids" class="">
                                                <script type="text/javascript">
                                                    {% for generalspecialskill in character.generalspecialskills %}
                                                    $('select#character_generalspecialskills option[value='+'{{ generalspecialskill.id }}'+']').prop('selected', 'selected');
                                                    {% endfor %}
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="annotation-box">
                                            <div class="col-12 annotation-description p-0">Anmerkungen</div>
                                            <div class="col-12 annotation-value p-0">
                                                {{ form_widget(form.annotation, {'attr': {'class':'form-control textarea-autosize','rows':'1' },'value':character.annotation}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row break"></div>
                        <div class="row">



                        </div>


                    </div>
                </div>
                <!-- Seite Fertigkeiten -->
                <div class="tab-pane fade" id="playvalues" role="tabpanel" aria-labelledby="playvalues-tab">
                    <div class="skillsheet">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="skill-box">
                                            <div class="col-12 skill-description p-0">Körpertalente</div>


                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="skill-box">
                                            Gesellschaftstalente
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="skill-box">
                                            Naturtalente
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="skill-box">
                                            Wissenstalente
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="skill-box">
                                            Handwerkstalente
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="battle" role="tabpanel" aria-labelledby="battle-tab">
                    Kampf
                </div>
                <div class="tab-pane fade" id="ownership" role="tabpanel" aria-labelledby="ownership-tab">
                    Besitz
                </div>
                <div class="tab-pane fade" id="spells" role="tabpanel" aria-labelledby="spells-tab">
                    Zauber
                </div>
                <div class="tab-pane fade" id="liturgies" role="tabpanel" aria-labelledby="liturgies-tab">
                    Liturgien
                </div>
            </div>

        <div class="card-footer">
            <div class="row">
                <div class="col align-self-end p-0">
                    {{ form_errors(form) }}
                    {{ form_widget(form.submit, {'attr': {'class':'btn btn-secondary float-right' },'label': 'speichern' }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}