<div class="characterlist">
    {% for character in characters %}
        <div class="row">
            <div class="col-9">
                {{character.charname}}
            </div>
            <div class="col-1 nopadding">
                <a href="/characters/show/{{ character.id }}">
                    <i class="material-icons bg-dark nopadding">remove_red_eye</i>
                </a>
            </div>
            <div class="col-1 nopadding">
                <a href="/characters/edit/{{ character.id }}">
                    <i class="material-icons bg-dark nopadding">edit</i>
                </a>
            </div>
            <div class="col-1 nopadding">
                <a href="" data-toggle="modal" data-target="#deleteChar{{character.id}}">
                    <i class="material-icons bg-dark nopadding">delete</i>
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="deleteChar{{character.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Charakter wirklich löschen???</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Soll der Charakter <b>{{character.charname}}</b> wirklich gelöscht werden? Er ist damit unwiderruflich gelöscht.
                        </div>
                        <div class="modal-footer">
                            <a href="/characters/delete/{{ character.id }}" type="button" class="btn btn-danger">Ja</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nein</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

