{% extends '1col.html.twig' %}

{% block title parent() ~ character.charname %}

{% block maincontent %}

    <div class="card maincontent text-white bg-dark">
        <div class="card-header">
            <div class="row">
                <div class="col-8 col-md-10">{{ character.charname }}</div>
                <div class="col-4 col-md-2">
                    <div class="row">
                        <div class="col-4 text-right">
                            <a href="/characters">
                                <i class="material-icons bg-dark nopadding">view_list</i>
                            </a>
                        </div>
                        <div class="col-4 text-right">
                            <a href="/characters/edit/{{ character.id }}">
                                <i class="material-icons bg-dark nopadding">edit</i>
                            </a>
                        </div>
                        <div class="col-4 text-right">
                            <a href="" data-toggle="modal" data-target="#deleteChar{{character.id}}">
                                <i class="material-icons bg-dark nopadding">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="charactersheet">
                <div class="row origin">
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-12 nopadding">
                                <div class="origin-box">
                                    <div class="col-12 origin-description nopadding">Spezies</div>
                                    <div class="col-12 origin-value nopadding">{{ character.species.speciesname }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-12 nopadding">
                                <div class="origin-box">
                                    <div class="col-12 origin-description nopadding">Kultur</div>
                                    <div class="col-12 origin-value nopadding">{{ character.culture.culturename }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-12 nopadding">
                                <div class="origin-box">
                                    <div class="col-12 origin-description nopadding">Profession</div>
                                    <div class="col-12 origin-value nopadding">{{ character.profession.professionname }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row attributes">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-3 nopadding">
                                <div class="attribute-box">
                                    <div class="col-12 attribute-description nopadding">MU</div>
                                    <div class="col-12 attribute-value nopadding">{{ character.attributeMu }}</div>
                                </div>
                            </div>
                            <div class="col-3 nopadding">
                                <div class="attribute-box">
                                    <div class="col-12 attribute-description nopadding">KL</div>
                                    <div class="col-12 attribute-value nopadding">{{ character.attributeKl }}</div>
                                </div>
                            </div>
                            <div class="col-3 nopadding">
                                <div class="attribute-box">
                                    <div class="col-12 attribute-description nopadding">IN</div>
                                    <div class="col-12 attribute-value nopadding">{{ character.attributeIn }}</div>
                                </div>
                            </div>
                            <div class="col-3 nopadding">
                                <div class="attribute-box">
                                    <div class="col-12 attribute-description nopadding">CH</div>
                                    <div class="col-12 attribute-value nopadding">{{ character.attributeCh }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-3 nopadding">
                                <div class="attribute-box">
                                    <div class="col-12 attribute-description nopadding">FF</div>
                                    <div class="col-12 attribute-value nopadding">{{ character.attributeFf }}</div>
                                </div>
                            </div>
                            <div class="col-3 nopadding">
                                <div class="attribute-box">
                                    <div class="col-12 attribute-description nopadding">GE</div>
                                    <div class="col-12 attribute-value nopadding">{{ character.attributeGe }}</div>
                                </div>
                            </div>
                            <div class="col-3 nopadding">
                                <div class="attribute-box">
                                    <div class="col-12 attribute-description nopadding">KO</div>
                                    <div class="col-12 attribute-value nopadding">{{ character.attributeKo }}</div>
                                </div>
                            </div>
                            <div class="col-3 nopadding">
                                <div class="attribute-box">
                                    <div class="col-12 attribute-description nopadding">KK</div>
                                    <div class="col-12 attribute-value nopadding">{{ character.attributeKk }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            {% include 'characters/deletemodal.html.twig' %}
        </div>
    </div>

{% endblock %}

