{% extends '1col.html.twig' %}

{% block title parent() ~ character.charname %}

{% block maincontent %}

    <div class="card maincontent text-white bg-dark">
        <div class="card-header charsheet">
            <div class="row">
                <div class="col-12 col-md-2 order-md-2 p-0">
                    <div class="row">
                        <div class="col-3 text-center p-0">
                            <a href="/characters">
                                <i class="material-icons bg-dark p-0">view_list</i>
                            </a>
                        </div>
                        <div class="col-3 text-center p-0">
                            <a href="/characters/print/{{ character.id }}" target="_blank">
                                <i class="material-icons bg-dark p-0">print</i>
                            </a>
                        </div>
                        <div class="col-3 text-center p-0">
                            <a href="/characters/edit/{{ character.id }}">
                                <i class="material-icons bg-dark p-0">edit</i>
                            </a>
                        </div>
                        <div class="col-3 text-center p-0">
                            <a href="" data-toggle="modal" data-target="#deleteChar{{character.id}}">
                                <i class="material-icons bg-dark p-0">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-10 order-md-1">
                    <ul class="nav nav-tabs row justify-content-md-left" id="myTab" role="tablist">
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link active" id="personaldata-tab" data-toggle="tab" href="#personaldata" role="tab" aria-controls="personaldata" aria-selected="true">Persönliche Daten</a>
                        </li>
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link" id="playvalues-tab" data-toggle="tab" href="#playvalues" role="tab" aria-controls="playvalues" aria-selected="false">Spielwerte</a>
                        </li>
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link" id="battle-tab" data-toggle="tab" href="#battle" role="tab" aria-controls="battle" aria-selected="false">Kampf</a>
                        </li>
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link" id="ownership-tab" data-toggle="tab" href="#ownership" role="tab" aria-controls="ownership" aria-selected="false">Besitz</a>
                        </li>
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link" id="spells-tab" data-toggle="tab" href="#spells" role="tab" aria-controls="spells" aria-selected="false">Zauber</a>
                        </li>
                        <li class="nav-item col-12 col-md-auto p-0">
                            <a class="nav-link" id="liturgies-tab" data-toggle="tab" href="#liturgies" role="tab" aria-controls="liturgies" aria-selected="false">Liturgien</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <!-- Seite Persönliche Daten -->
                <div class="tab-pane fade show active" id="personaldata" role="tabpanel" aria-labelledby="personaldata-tab">
                    <div class="charactersheet">
                        <div class="row name">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="name-box">
                                            <div class="col-12 name-description p-0">Name</div>
                                            <div class="col-12 name-value p-0">{{ character.charname }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row break"></div>
                        <div class="row experience">
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="experience-box">
                                            <div class="col-12 experience-description p-0">Erfahrungsgrad</div>
                                            <div class="col-12 experience-value p-0">{{ character.experiencelevel }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="experience-box">
                                            <div class="col-12 experience-description p-0">AP Gesamt</div>
                                            <div class="col-12 experience-value p-0">{{ character.aptotal }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="experience-box">
                                            <div class="col-12 experience-description p-0">AP verfügbar</div>
                                            <div class="col-12 experience-value p-0">{{ character.apavailable }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="experience-box">
                                            <div class="col-12 experience-description p-0">AP ausgegeben</div>
                                            <div class="col-12 experience-value p-0">{{ character.apspent }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row break"></div>
                        <div class="row origin">
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="origin-box">
                                            <div class="col-12 origin-description p-0">Spezies</div>
                                            <div class="col-12 origin-value p-0">{{ character.species.name }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="origin-box">
                                            <div class="col-12 origin-description p-0">Kultur</div>
                                            <div class="col-12 origin-value p-0">{{ character.culture.name }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="origin-box">
                                            <div class="col-12 origin-description p-0">Profession</div>
                                            <div class="col-12 origin-value p-0">{{ character.profession.name }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row attributes">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 p-0">
                                        <div class="attribute-box">
                                            <div class="col-12 attribute-description p-0">MU</div>
                                            <div class="col-12 attribute-value p-0">{{ character.attributeMu }}</div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box">
                                            <div class="col-12 attribute-description p-0">KL</div>
                                            <div class="col-12 attribute-value p-0">{{ character.attributeKl }}</div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box">
                                            <div class="col-12 attribute-description p-0">IN</div>
                                            <div class="col-12 attribute-value p-0">{{ character.attributeIn }}</div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box">
                                            <div class="col-12 attribute-description p-0">CH</div>
                                            <div class="col-12 attribute-value p-0">{{ character.attributeCh }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3 p-0">
                                        <div class="attribute-box">
                                            <div class="col-12 attribute-description p-0">FF</div>
                                            <div class="col-12 attribute-value p-0">{{ character.attributeFf }}</div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box">
                                            <div class="col-12 attribute-description p-0">GE</div>
                                            <div class="col-12 attribute-value p-0">{{ character.attributeGe }}</div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box">
                                            <div class="col-12 attribute-description p-0">KO</div>
                                            <div class="col-12 attribute-value p-0">{{ character.attributeKo }}</div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0">
                                        <div class="attribute-box">
                                            <div class="col-12 attribute-description p-0">KK</div>
                                            <div class="col-12 attribute-value p-0">{{ character.attributeKk }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row break"></div>
                        <div class="row story">
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Geschlecht</div>
                                            <div class="col-12 story-value p-0">{{ character.gender }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Geburtsort</div>
                                            <div class="col-12 story-value p-0">{{ character.birthplace }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Geburtsdatum</div>
                                            <div class="col-12 story-value p-0">{{ character.birthdate }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Alter</div>
                                            <div class="col-12 story-value p-0">{{ character.age }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Größe</div>
                                            <div class="col-12 story-value p-0">{{ character.size }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Gewicht</div>
                                            <div class="col-12 story-value p-0">{{ character.weight }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Haarfarbe</div>
                                            <div class="col-12 story-value p-0">{{ character.haircolor }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Augenfarbe</div>
                                            <div class="col-12 story-value p-0">{{ character.eyecolor }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Titel</div>
                                            <div class="col-12 story-value p-0">{{ character.title }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">SO</div>
                                            <div class="col-12 story-value p-0">{{ character.socialstatus }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Familie</div>
                                            <div class="col-12 story-value p-0">{{ character.family }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Charakteristika</div>
                                            <div class="col-12 story-value p-0">{{ character.characteristics }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="story-box">
                                            <div class="col-12 story-description p-0">Sonstiges</div>
                                            <div class="col-12 story-value p-0">{{ character.further }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row break"></div>
                        <div class="row energy">
                            <div class="col-12 col-md-4">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <div class="energy-box">
                                        <div class="col-12 energy-description p-0">Lebensenergie</div>
                                        <div class="col-12 energy-values p-0">
                                            <div class="col-3 energy-value">{{ character.lifeenergy }}</div>
                                            <div class="col-3 energy-value">{{ character.lifeenergybonus }}</div>
                                            <div class="col-3 energy-value">{{ character.lifeenergypurchase }}</div>
                                            <div class="col-3 energy-value last">{{ character.lifeenergymax }}</div>
                                        </div>
                                        <div class="col-12 energy-value-descriptions p-0">
                                            <div class="col-3 energy-value-description p-0">Wert</div>
                                            <div class="col-3 energy-value-description p-0">Bonus</div>
                                            <div class="col-3 energy-value-description p-0">Zukauf</div>
                                            <div class="col-3 energy-value-description p-0">Max</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-12 col-md-4">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <div class="energy-box">
                                        <div class="col-12 energy-description p-0">Astralenergie</div>
                                        <div class="col-12 energy-values p-0">
                                            <div class="col-3 energy-value">{{ character.astralenergy }}</div>
                                            <div class="col-3 energy-value">{{ character.astralenergybonus }}</div>
                                            <div class="col-3 energy-value">{{ character.astralenergypurchase }}</div>
                                            <div class="col-3 energy-value last">{{ character.astralenergymax }}</div>
                                        </div>
                                        <div class="col-12 energy-value-descriptions p-0">
                                            <div class="col-3 energy-value-description p-0">Wert</div>
                                            <div class="col-3 energy-value-description p-0">Bonus</div>
                                            <div class="col-3 energy-value-description p-0">Zukauf</div>
                                            <div class="col-3 energy-value-description p-0">Max</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-12 col-md-4">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <div class="energy-box">
                                        <div class="col-12 energy-description p-0">Karmaenergie</div>
                                        <div class="col-12 energy-values p-0">
                                            <div class="col-3 energy-value">{{ character.karmaenergy }}</div>
                                            <div class="col-3 energy-value">{{ character.karmaenergybonus }}</div>
                                            <div class="col-3 energy-value">{{ character.karmaenergypurchase }}</div>
                                            <div class="col-3 energy-value last">{{ character.karmaenergymax }}</div>
                                        </div>
                                        <div class="col-12 energy-value-descriptions p-0">
                                            <div class="col-3 energy-value-description p-0">Wert</div>
                                            <div class="col-3 energy-value-description p-0">Bonus</div>
                                            <div class="col-3 energy-value-description p-0">Zukauf</div>
                                            <div class="col-3 energy-value-description p-0">Max</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="col-12 col-md-2">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <div class="energy-box">
                                        <div class="col-12 energy-description p-0">Seelenkraft</div>
                                        <div class="col-12 energy-values p-0">
                                            <div class="col-4 energy-value">{{ character.soulpower }}</div>
                                            <div class="col-4 energy-value">{{ character.soulpowerbonus }}</div>
                                            <div class="col-4 energy-value last">{{ character.soulpowermax }}</div>
                                        </div>
                                        <div class="col-12 energy-value-descriptions p-0">
                                            <div class="col-4 energy-value-description p-0">Wert</div>
                                            <div class="col-4 energy-value-description p-0">Bonus</div>
                                            <div class="col-4 energy-value-description p-0">Max</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-12 col-md-2">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="energy-box">
                                            <div class="col-12 energy-description p-0">Zähigkeit</div>
                                            <div class="col-12 energy-values p-0">
                                                <div class="col-4 energy-value">{{ character.toughness }}</div>
                                                <div class="col-4 energy-value">{{ character.toughnessbonus }}</div>
                                                <div class="col-4 energy-value last">{{ character.toughnessmax }}</div>
                                            </div>
                                            <div class="col-12 energy-value-descriptions p-0">
                                                <div class="col-4 energy-value-description p-0">Wert</div>
                                                <div class="col-4 energy-value-description p-0">Bonus</div>
                                                <div class="col-4 energy-value-description p-0">Max</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="energy-box">
                                            <div class="col-12 energy-description p-0">Ausweichen</div>
                                            <div class="col-12 energy-values p-0">
                                                <div class="col-4 energy-value">{{ character.dodge }}</div>
                                                <div class="col-4 energy-value">{{ character.dodgebonus }}</div>
                                                <div class="col-4 energy-value last">{{ character.dodgemax }}</div>
                                            </div>
                                            <div class="col-12 energy-value-descriptions p-0">
                                                <div class="col-4 energy-value-description p-0">Wert</div>
                                                <div class="col-4 energy-value-description p-0">Bonus</div>
                                                <div class="col-4 energy-value-description p-0">Max</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="energy-box">
                                            <div class="col-12 energy-description p-0">Initiative</div>
                                            <div class="col-12 energy-values p-0">
                                                <div class="col-4 energy-value">{{ character.initiative }}</div>
                                                <div class="col-4 energy-value">{{ character.initiativebonus }}</div>
                                                <div class="col-4 energy-value last">{{ character.initiativemax }}</div>
                                            </div>
                                            <div class="col-12 energy-value-descriptions p-0">
                                                <div class="col-4 energy-value-description p-0">Wert</div>
                                                <div class="col-4 energy-value-description p-0">Bonus</div>
                                                <div class="col-4 energy-value-description p-0">Max</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="energy-box">
                                            <div class="col-12 energy-description p-0">Geschwindigkeit</div>
                                            <div class="col-12 energy-values p-0">
                                                <div class="col-4 energy-value">{{ character.speed }}</div>
                                                <div class="col-4 energy-value">{{ character.speedbonus }}</div>
                                                <div class="col-4 energy-value last">{{ character.speedmax }}</div>
                                            </div>
                                            <div class="col-12 energy-value-descriptions p-0">
                                                <div class="col-4 energy-value-description p-0">Wert</div>
                                                <div class="col-4 energy-value-description p-0">Bonus</div>
                                                <div class="col-4 energy-value-description p-0">Max</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="energy-box">
                                            <div class="col-12 energy-description p-0">Schicksalspunkte</div>
                                            <div class="col-12 energy-values p-0">
                                                <div class="col-3 energy-value">{{ character.fatepoints }}</div>
                                                <div class="col-3 energy-value">{{ character.fatepointsbonus }}</div>
                                                <div class="col-3 energy-value">{{ character.fatepointsmax }}</div>
                                                <div class="col-3 energy-value last">{{ character.fatepointscurrent }}</div>
                                            </div>
                                            <div class="col-12 energy-value-descriptions p-0">
                                                <div class="col-3 energy-value-description p-0">Wert</div>
                                                <div class="col-3 energy-value-description p-0">Bonus</div>
                                                <div class="col-3 energy-value-description p-0">Max</div>
                                                <div class="col-3 energy-value-description p-0">Aktuell</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row break"></div>
                        <div class="row advantages">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="advantage-box">
                                            <div class="col-12 advantage-description p-0">Vorteile</div>
                                            <div class="col-12 advantage-value">
                                                {% for advantage in character.advantages %}
                                                    {{ advantage.name }}{% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="advantage-box">
                                            <div class="col-12 advantage-description p-0">Nachteile</div>
                                            <div class="col-12 advantage-value">
                                                {% for disadvantage in character.disadvantages %}
                                                    {{ disadvantage.name }}{% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row break"></div>
                        <div class="row generalspecialskills">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="generalspecialskill-box">
                                            <div class="col-12 generalspecialskill-description p-0">Allgemeine Sonderfertigkeiten</div>
                                            <div class="col-12 generalspecialskill-value">
                                                {% for generalspecialskill in character.generalspecialskills %}
                                                    {{ generalspecialskill.skillname }}{% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="annotation-box">
                                            <div class="col-12 annotation-description p-0">Anmerkungen</div>
                                            <div class="col-12 annotation-value">
                                                {{ character.annotation|nl2br }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="playvalues" role="tabpanel" aria-labelledby="playvalues-tab">
                    Spielwerte
                </div>
                <div class="tab-pane fade" id="battle" role="tabpanel" aria-labelledby="contact-tab">
                    Kampf
                </div>
                <div class="tab-pane fade" id="ownership" role="tabpanel" aria-labelledby="ownership-tab">
                    Besitz
                </div>
                <div class="tab-pane fade" id="spells" role="tabpanel" aria-labelledby="spells-tab">
                    Zauber
                </div>
                <div class="tab-pane fade" id="liturgies" role="tabpanel" aria-labelledby="liturgies-tab">
                    Liturgien
                </div>
            </div>

        </div>
        <div class="card-footer">
            {% include 'characters/deletemodal.html.twig' %}
        </div>
    </div>

{% endblock %}

